.sidebar .categories-section {
  overflow: clip;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 0;
  padding: 0;
  transition: 0.5s;
}

.sidebar .categories-section-active {
  padding: 0.5rem 0 0 3rem;
  visibility: visible;
  height: 6.5rem;
  gap: 8px;
}
