.sidebar .categories-section {
  overflow: clip;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 0;
  padding: 0;
  transition: 0.5s;
}

.sidebar .categories-section-active {
  padding: 0.5rem 0 0 2.5rem;
  visibility: visible;
  height: 9.6rem;
  gap: 8px;
}

.sidebar .categories-section li {
  font-size: 1.1rem;
}

.sidebar .categories-section .category-active {
  padding-left: 0.5rem;
  border-left: 3px solid var(--COLOR-PRIMARY);
  background-color: var(--COLOR-SECONDARY-V2);
  border-radius: 0 1rem 1rem 0;
}
